.link {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 0.5em;
    color: #77581c;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    color: #816882;
    text-decoration: none;
    font-size: 1.4em;
}

.header{
    background-color: #cba328;
}