.link {
 
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.5em;
    color: #230c0f;
    text-decoration: none;
    cursor: pointer;
   
}

.link:hover {
    color: #816882;
    text-decoration: none;
    font-size: 1.6em;
}

header{
    background-color: #cba328;
}